body {
    font-family: sans-serif;
}

.entry {
    display: flex;
    width: fit-content;
    background-color: rgb(245, 245, 245);
}

.entry-view {
    width: 400px;
    margin: 10px;
    
    display: flex;
    flex-direction: column;
}

.entry-view > * {
    margin-bottom: 10px;
}

.entry-controls {
    width: 40px;
    height: 70px;
    margin: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.entry-controls > span {
    cursor: pointer;
}

.hide {
    display: none;
}
